<p><strong><%= @visitor_message.message_type %></strong></p>
<br>
<p>Name: <%= @visitor_message.name %></p>
<p>Email: <%= @visitor_message.email %></p>
<p>Message: <%= @visitor_message.message %></p>
