<h2>PupShare profile</h2>
<%= render @user %>

<h1>My Pups</h1> 
<%= link_to 'New Pup', new_user_pup_path(current_user), class: 'btn btn-primary' %>
<br>
<%= render @pups %>

<%= link_to 'Delete Account :(', user_path(current_user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<br>