<div class="col-md-12 text-center bottom-space">
  <h3><%= "#{current_user.first_name}'s " %>Upcoming Walks</h3>
  <%= link_to 'Past Walks', user_past_walks_path(current_user), class:'btn btn-primary btn-xl btn-block' %>
</div>

<br>

<% if @walks_plus_offers.empty? %>

<h3>You don't have any walks yet...</h3>

<div class="col-md-12 bottom-space">
  <%= link_to 'Request a Walker', new_walk_path, class:'btn btn-info btn-lg btn-block' %>
</div>

<% else %>

<% @walks_plus_offers.each_with_index do |walk, index| %>
<%= render partial: 'walks/walk', locals: { walk: walk, index: index } %>
<% end %>

<% end %>