<h1>Someone else is walking my pup</h1> 
<br>
<% @jobs.each do |job| %>
<% if !job.nil? # if user has not created any jobs yet %>
<%= render partial: 'jobs/job', locals: { job: job } %>
<% end %>
<% end %>

<h1>I am walking someone else's pup</h1> 
<br>
<% @requests.each do |request| %>
<% if !request.nil? # if user has not created any requests yet %>
<%= render partial: 'jobs/job', locals: { job: request.job } %>
<% end %>
<% end %>