<div class='col-md-6 walk panel panel-default'>
  <div class='row'>
    <div class="col-md-11 col-md-offset-1 text-center bottom-space">
      <%= render partial: 'pups/pup_sub', locals: { pup: pup } %>
    </div>
    <div class="col-md-12 text-center">
      <small>ADDITIONAL INFO: <%= pup.additional_info %></small>
      <br>
      <div class="col-md-6 text-center">
        <%= link_to 'Edit', edit_user_pup_path(current_user, pup), class: 'btn btn-warning btn-xl btn-block' %>
      </div>
      <div class="col-md-6 text-center">
        <%= link_to user_pup_path(current_user, pup), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xl btn-block' do %>
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
