<div class='row well'>
  
  <%= render partial: 'pups/pup_sub', locals: { pup: pup } %>

  <div class="col-md-10">
    <div class="col-md-10">
      <p>Additional Info: <%= "#{pup.additional_info}" %></p>
    </div>

    <div class="col-md-2">
      <%= link_to 'Edit', edit_user_pup_path(current_user, pup), class: 'btn btn-warning' %>
      <%= link_to user_pup_path(current_user, pup), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
      <% end %>
    </div>
  </div>

</div><!-- well -->

<br>