<div class='col-md-12 text-center well hidden-xs hidden-sm'>

  <div class='col-md-6'>
    <%= render 'filters' %>
  </div>

  <div class='col-md-6'>
    <%= render 'map' %>
  </div>

</div>


<% if @walks.count > 0 %>
<h1><%= "#{@walks.count} upcoming walks" %></h1>
<% @walks.order(:begin_time).each_with_index do |walk, index| %>

<div class='col-md-6'>
  <%= render partial: 'walks/walk', locals: { walk: walk, index: index } %>
</div>

<% end %>

<% else %>
<h1>No search results. Try adjusting your filters</h1>
<% end %>
