<div class='col-md-12 walk-header hidden-xs hidden-sm'>

  <div class='col-md-6 text-center top-space'>
    <%= render 'filters' %>
  </div>

  <div class='col-md-6 top-space'>
    <%= render 'map' %>
  </div>

</div>


<% if @walks.count > 0 %>
  <h3 class='col-md-12 text-center'><strong><%= "#{@walks.count} Pups Need a Walk" %></strong></h3>

  <% @walks.order(:begin_time).each do |walk| %>
    <%= render partial: 'walks/walk', locals: { walk: walk } %>
  <% end %>

<% else %>
  <h3>No search results. Try adjusting your filters</h3>
<% end %>
