<h1>Pick a pup to take for a walk...</h1>

<div class='col-md-12'>
  <%= render 'map' %>
</div>

<div class='col-md-12'>
  <%= render 'filters' %>
</div>

<div class='col-md-12'>
  <% if @walks.count > 0 %>
  <h1><%= "#{@walks.count} upcoming walks" %></h1>
  <% @walks.order(:begin_time).each_with_index do |walk, index| %>
  <%= render partial: 'walks/walk', locals: { walk: walk, index: index } %>
  <% end %>
  <% else %>
  <h1>No search results. Try adjusting your filters</h1>
  <% end %>
</div>
