body { 
  background: image-url('ace_large.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box {
  background-color: rgba(0,0,0,0);
  padding: 2%;
  width: 80%;
  margin: 5% auto;
  text-align: left;
}

.banner {
  color: white;
  font-weight: 100;
  font-size: 500%;
}

p {
  font-weight: 100;
  font-size: 200%;
  color: white;
  font-family: 'Helvetica Neue', Helvetica;
  margin: 5%;
}

.btn-transparent {
  max-width: 100%;
  background-color: transparent;
  border: 1px solid white;
  padding: 0 8px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.big-button {
  font-size: 75px
}

h1.glyphicon {
  font-size: 3.75em;
  position: relative;
}

@import "bootstrap-sprockets";
@import "bootstrap";