body {
  background: image-url('whitey.png');
  padding-bottom: 100px;
}

#nav-sign-in {
  max-width: auto; 
  max-height: auto;
  padding: 5px;
}

.footer {
  position:relative;
  bottom:0;
  width:100%;
  height:60px;
  background:#101010;
  color:#9d9d9d;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}

.panel-title {
  overflow: auto; 
}

a {
  color: #fff; 
}

a.linkedin-profile {
  color: #337ab7;
  text-decoration: underline;
}

div.panel-heading.walker {
  background-color: #F0D8A8;
}

div.panel-heading.owner {
  background-color: #A8C090;
}

.img-circle {
  border-radius: 25%;
  margin: 25px;
}

.offer-image {
  max-height: 50px; 
  max-width: 50px;
  border-radius: 25%;
  padding: 0px; 
}

.table > tbody > tr > td {
  vertical-align: middle;
}




