body {
  /*   background: image-url('debut_dark.png'); */
  background-color: #333333;
}

h1 {
  color: #f5f5f5;
}

#nav-sign-in {
  max-width: auto; 
  max-height: auto;
  padding: 5px;
}

.panel-title {
  overflow: auto; 
}

a {
  color: #fff; 
}

a.linkedin-profile {
  color: #337ab7;
  text-decoration: underline;
}

div.panel-heading.walker {
  background-color: #2ecc71;
}

div.panel-heading.owner {
  background-color: #9b59b6;
}

img.walk-detail {
  width: 65px;
}

#map {
  height: 200px;
}

img.nav-img {
  margin-top: 5px;
  height: 40px;
}

span.badge {
  background-color: green; 
}

span.glyphicon-envelope {
  font-size: 24px;
  margin-top: -1px
}

img.paw {
  height: 25px;
}

img.male {
  padding-left: 3px;
}
