body {
  background-color: #e7e9ec;
}

a {
  color: black;
}

#nav-sign-in {
  max-width: auto; 
  max-height: auto;
  padding: 5px;
}

div.panel-heading.walker {
  background-color: #f5f5f5;
}

div.panel-heading.owner {
  background-color: #f5f5f5;
}

div.offer {
  padding: 0px 30px 0px 00px;
}

img.walk-owner {
  width: 56px;
  height: 56px; 
}

img.walk-detail {
  width: 34px;
  height: 34px;
}

#map {
  height: 500px;
}

img.nav-img {
  margin-top: 5px;
  height: 40px;
}

span.badge {
  background-color: gray; 
}

span.glyphicon-envelope {
  font-size: 24px;
  margin-top: -1px
}

img.paw {
  height: 16px;
  padding: 0px 2px;
}

img.male {
  border-radius: 0px;
}

div.filter {
  padding: 15px 0px;
  border-top: thin solid lightgray;
}

div.walk {
  padding: 0px 3px; 
}

div.panel-body {
  padding: 5px 15px; 
}

div.well {
  margin-bottom: 0px;
}

div.panel-default {
  padding: 5px;
}

div.walk-details {
  padding: 15px;
  border-top: thin solid gray;
}

div.no-margin {
  margin: 0px;
  padding: 0px;
}

div.bottom-space {
  margin-bottom: 15px; 
}

div.hide-overflow {
  display: block;
  text-overflow: ellipsis;
}