<div class="col-md-2">
  <p><%= "#{location.building}" %></p>
</div>
<div class="col-md-2">
  <p><%= "#{location.desk}" %></p>
</div>
<div class="col-md-4">
  <p><%= "#{location.full_street_address}" %></p>
</div>

<div class="col-md-4">
  <%= link_to user_location_path(current_user, location), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
  <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
  <% end %>
</div>