<!DOCTYPE html>
<html>
  <head>
    <title>PupShare</title>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='container-fluid'>
      <div class='.col-xs-12 .col-md-8'>
        <div class='box'>
          <h1>Welcome to PupShare</h1>
          <p>Walk Dogs - Make Friends</p>
          <br><br>
        </div>
      </div>
    </div> 
  </body>

</html>